<h3>ADD NEW AIRCRAFT TO HANGAR</h3>
<br>
<form action="/planes" method="post">
  NAME/DESIGNATION: <input type="text" name="name"><br>
  MANUFACTURER: <input type="text" name="manufacturer"><br>
  TOP SPEED: <input type="number" name="top_speed"><br>
  CEILING: <input type="number" name="ceiling"><br>
  TYPE: <input type="text" name="type"><br>
  <input type="submit" value="Submit">
</form>
