<h3>AIRCRAFT HANGAR</h3>
<h4><a href="/planes/new">NEW AIRCRAFT?</a></h4>
<br />
<br />
<table>
  <tr>
    <th style="padding:0 15px 0 15px;">AIRCRAFT</th>
    <th style="padding:0 15px 0 15px;">TYPE</th>
    <th style="padding:0 15px 0 15px;">MANUFACTURER</th>
  </tr>
  <tr>
    <td>
      <br />
    </td>
  </tr>
  <% @plane.each do |p| %>
    <tr>
      <td style="padding:0 15px 0 15px;"><a href="/planes/<%= p.id %>"><%= p.name %></a></td>
      <td style="padding:0 15px 0 15px;"><%= p.classification %></td>
      <td style="padding:0 15px 0 15px;"><%= p.manufacturer %></td>
    </tr>
  <% end %>
</table>
