<h3>ENLIST BELOW AND FLY TO VICTORY!</h3>
<br>
<form action="/enlist" method="post">
  USERNAME: <input type="text" name="username"><br>
  BRANCH: <input type="text" name="branch"><br>
  RANK: <input type="text" name="rank"><br>
  AERIAL VICTORIES: <input type="number" name="victories"><br>
  EMAIL: <input type="email" name="email"><br>
  PASSWORD: <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>
