<h3>ENLIST BELOW AND FLY TO VICTORY!</h3>
<br />
<form action="/enlist" method="post">
  <table>
    <tr>
      <td align='right'>USERNAME:&nbsp&nbsp&nbsp</td>
      <td align='left'><input type="text" name="username"></td>
    </tr>
    <tr>
      <td>
        <br />
      </td>
    </tr>
    <tr>
      <td align='right'>BRANCH:&nbsp&nbsp&nbsp</td>
      <td align='left'><input type="text" name="branch"></td>
    </tr>
    <tr>
      <td>
        <br />
      </td>
    </tr>
    <tr>
      <td align='right'>RANK:&nbsp&nbsp&nbsp</td>
      <td align='left'><input type="text" name="rank"></td>
    </tr>
    <tr>
      <td>
        <br />
      </td>
    </tr>
    <tr>
      <td align='right'>AERIAL VICTORIES:&nbsp&nbsp&nbsp</td>
      <td align='left'><input type="number" name="victories"></td>
    </tr>
    <tr>
      <td>
        <br />
      </td>
    </tr>
    <tr>
      <td align='right'>EMAIL:&nbsp&nbsp&nbsp</td>
      <td align='left'><input type="email" name="email"></td>
    </tr>
    <tr>
      <td>
        <br />
      </td>
    </tr>
    <tr>
      <td align='right'>PASSWORD:&nbsp&nbsp&nbsp</td>
      <td align='left'><input type="password" name="password"></td>
    </tr>
  </table>
  <br />
  <input type="submit" value="Submit">
</form>
