<h4>ENLIST BELOW AND FLY TO VICTORY!</h4>
<% if flash.has?(:message) %>
  <h2><font color="red"><%= flash[:message] %></font></h2>
<% end %>
<br />
<form action="/enlist" method="post">
  <table>
    <tr>
      <td align='right' style="padding:0 15px 15px 0;">USERNAME:</td>
      <td style="padding:0 0 15px 0;"><input type="text" id="pilot_name" name="pilot[username]"></td>
    </tr>
    <tr>
      <td align='right' style="padding:0 15px 15px 0;">BRANCH/SERIVCE:</td>
      <td style="padding:0 0 15px 0;"><input type="text" id="pilot_branch" name="pilot[branch]"></td>
    </tr>
    <tr>
      <td align='right' style="padding:0 15px 15px 0;">RANK:</td>
      <td style="padding:0 0 15px 0;"><input type="text" id="pilot_rank" name="pilot[rank]"></td>
    </tr>
    <tr>
      <td align='right' style="padding:0 15px 15px 0;">AERIAL VICTORIES:</td>
      <td style="padding:0 0 15px 0;"><input type="number" id="pilot_victories" name="pilot[victories]"></td>
    </tr>
    <tr>
      <td align='right' style="padding:0 15px 15px 0;">EMAIL:</td>
      <td style="padding:0 0 15px 0;"><input type="email" id="pilot_email" name="pilot[email]"></td>
    </tr>
    <tr>
      <td align='right' style="padding:0 15px 15px 0;">PASSWORD:</td>
      <td style="padding:0 0 15px 0;"><input type="password" id="pilot_password" name="pilot[password]"></td>
    </tr>
  </table>
  <br />

  <h4>SELECT YOUR AIRCRAFT</h4>
  <br />
    <% Plane.all.each do |p| %>
      <label><%= p.name %></label>
      <input type="checkbox" id="plane_<%=p.id%>" name="pilot[plane_ids][]" value="<%= p.id %>"><br />
    <% end %>
    <br />
  <input type="submit" value="Submit">
</form>
