<h3>CHECK IN BELOW</h3>
<% if flash.has?(:message) %>
  <h2><font color="red"><%= flash[:message] %></font></h2>
<% end %>
<br /><form action="/login" method="post">
    USERNAME: <input type="text" name="username">&nbsp&nbsp&nbsp
    PASSWORD: <input type="password" name="password">
  <input type="submit" value="Submit">
</form>
