<h3>CHECK IN BELOW</h3>
<br>
<form action="/login" method="post">
    USERNAME: <input type="text" name="username">&nbsp&nbsp&nbsp
    PASSWORD: <input type="password" name="password">
  <input type="submit" value="Submit">
</form>
