<h3>CHECK IN OR <a href="/enlist">ENLIST TODAY!</a></h3>
<br>
<form action="/login" method="post">
    USERNAME: <input type="text" name="username">
    PASSWORD: <input type="password" name="password">
  <input type="submit" value="Submit">
</form>
