<h3>ADD NEW AIRCRAFT TO HANGAR</h3>
<br>
<form action="/weapons" method="post">
  NAME: <input type="text" name="name"><br>
  TYPE: <input type="text" name="type"><br>
  CALIBER: <input type="text" name="caliber"><br>
  <input type="submit" value="Submit">
</form>
