<h3>EDIT WEAPON</h3>
<br />
<form action="/weapons/<%= @weapon.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <table>
    <tr>
      <td align='right' style="padding:0 0 15px 0;">NAME:&nbsp&nbsp&nbsp</td>
      <td style="padding:0 0 15px 0;"><input type="text" name="weapon[name]" placeholder="<%= @weapon.name %>"></td>
    </tr>
    <tr>
      <td align='right' style="padding:0 0 15px 0;">TYPE:&nbsp&nbsp&nbsp</td>
      <td style="padding:0 0 15px 0;"><input type="text" name="weapon[classification]" placeholder="<%= @weapon.classification %>"></td>
    </tr>
    <tr>
      <td align='right' style="padding:0 0 15px 0;">CALIBER:&nbsp&nbsp&nbsp</td>
      <td style="padding:0 0 15px 0;"><input type="text" name="pilot[caliber]" placeholder="<%= @weapon.caliber %>"></td>
    </tr>
  </table>
  <input name="submit" value="Submit" type="Submit">
</form>
