<% if flash.has?(:message) %>
  <h2><font color="red"><%= flash[:message] %></font></h2>
<% end %>
<br>
<br>
<br>
<br>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/27th_Fighter_Squadron.png/640px-27th_Fighter_Squadron.png" height="350" alt="Computer Hope">&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp<img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/71st_Fighter_Squadron.png" height="360" alt="Computer Hope">&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp<img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/301st_Fighter_Squadron_-_AETC_-_Emblem.png" height="360" alt="Computer Hope">&nbsp&nbsp&nbsp&nbsp
