<!doctype html>
<html>
  <head>
    <title>COMBAT SQUADRON</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" height="10">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class="container">
      <h2>COMBAT SQUADRON</h2><br>
      <% if !logged_in? %>
        <a href="/enlist">ENLIST TODAY! </a>&nbsp&nbsp&nbsp
        <img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-4/128/star-circle-128.png" height="25">
        &nbsp&nbsp&nbsp<a href="/login">SIGN IN</a>
      <% else %>
        WELCOME BACK TO THE FRAY! <%= @username %><br>
        <a href="/pilots/:slug">OPS ROOM</a>&nbsp&nbsp&nbsp<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-4/128/star-circle-128.png" height="25">
        &nbsp&nbsp&nbsp<a href="/pilots/:slug/edit">EDIT PILOT</a>&nbsp&nbsp&nbsp<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-4/128/star-circle-128.png" height="25">
        &nbsp&nbsp&nbsp<a href="/roster">SQUADRON ROSTER</a>&nbsp&nbsp&nbsp<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-4/128/star-circle-128.png" height="25">
        &nbsp&nbsp&nbsp<a href="/hangar">AIRCRAFT HANGAR</a>&nbsp&nbsp&nbsp<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-4/128/star-circle-128.png" height="25">
        &nbsp&nbsp&nbsp<a href="/pilots/:slug/edit">STATION ARMORY</a>&nbsp&nbsp&nbsp<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-4/128/star-circle-128.png" height="25">
        &nbsp&nbsp&nbsp<a href="/logout">TAKE SOME R&R</a>
      <% end %>
      <%= yield %>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
