<!doctype html>
<html>
  <head>
    <title>COMBAT SQUADRON</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/USAAC_Roundel_1919-1941.svg/2000px-USAAC_Roundel_1919-1941.svg.png">
    <meta charset="utf-8">
    <style type="text/css">
        html, body {
            height: 100%;
        }
        body {
            background-image: url(//c1.staticflickr.com/3/2854/34012247102_4090a87efe_h.jpg);
            background-size: cover;
        }
        #image {
            width: 100%;
            height: 100%;
            background-image: url(background.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" height="10">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class="container">
      <table>
        <tr>
          <td align='left' style="padding: 10px 15px 0 0;"><img src="https://static.warthunder.com/upload/image/News/september14/1/US_roundel_1943-1947_svg.png" height="50"></td>
          <td><h1><a href="/">COMBAT SQUADRON</a></h1></td>
        </tr>
      </table>
      <br />
      <% if !logged_in? %>
        <a href="/enlist">ENLIST TODAY! </a>&nbsp&nbsp&nbsp
        <img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-4/128/star-circle-128.png" height="25">
        &nbsp&nbsp&nbsp<a href="/login">SIGN IN</a>
      <% else %>
        <% @pilot = Pilot.find(session[:pilot_id]) %>
        <h4><a href="/pilots/<%= @pilot.id %>"><%= @pilot.username %></a> is logged in.</h4>
        <br />
        <br />
        <a href="/pilots/:id/session">VIEW PILOT DATA</a>&nbsp&nbsp&nbsp<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-4/128/star-circle-128.png" height="25">
        &nbsp&nbsp&nbsp<a href="/pilots/:id/edit">EDIT PILOT DATA</a>&nbsp&nbsp&nbsp<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-4/128/star-circle-128.png" height="25">
        &nbsp&nbsp&nbsp<a href="/roster">SQUADRON ROSTER</a>&nbsp&nbsp&nbsp<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-4/128/star-circle-128.png" height="25">
        &nbsp&nbsp&nbsp<a href="/hangar">AIRCRAFT HANGAR</a>&nbsp&nbsp&nbsp<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-4/128/star-circle-128.png" height="25">
        &nbsp&nbsp&nbsp<a href="/armory">STATION ARMORY</a>&nbsp&nbsp&nbsp<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-4/128/star-circle-128.png" height="25">
        &nbsp&nbsp&nbsp<a href="/logout">TAKE SOME R&R</a>
      <% end %>
      <%= yield %>


    </div>
  </body>
</html>
